h1,h2,h3,h4, ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: rgb(244, 244, 244);
    color: rgb(39, 39, 39);
}

.row{
    width: 100%;
    display: flex;
}

.wrapper{
    margin-top: 50px;
    margin-inline: auto;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.profile{
    width: 30%;
    padding: 100px;
    font-size: 1.3em;
}

.header{
    color: white;
    padding: 20px;
    background-color: darkviolet;
    text-align: center;
}

input{
    width: 100%;
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.users{
    max-height: 400px;
    padding: 20px;
    overflow-y: scroll;
}

.card{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 0.9em;
    margin-top: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}
.card:hover{
    color: darkviolet;
    font-weight: 600;
}

.avatar{
    max-width: 80px;
    border-radius: 50%;
}

.typography{
    margin-left: 20px;
}

.location{
    font-size: 13px;
}

li{
    margin-top: 20px;
}